# 依赖
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# 环境变量
.env
.env.local
.env.*.local

# 日志
logs/
*.log

# 编辑器
.idea/
.vscode/
*.swp
*.swo

# 操作系统
.DS_Store
Thumbs.db

# 其他
tmp/
temp/
dist/
build/
coverage/ 